.tooltip {
  position: relative;
}

.input {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 24rem;
  cursor: pointer;
  padding: 1rem;
  font-weight: 700;
  color: white;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

.tooltiptext::before {
  content: "";
  visibility: hidden;
  position: absolute;
  top: 65%;
  left: 50%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltiptext::after {
  content: "";
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 50%;
  margin-left: -60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.input:hover:focus + .tooltiptext::before {
  visibility: visible;
}

.input:hover + .tooltiptext::before {
  visibility: visible;
}

.input:hover + .tooltiptext::after {
  content: "Click to Copy!";
  visibility: visible;
}

.input:hover:focus + .tooltiptext::after {
  content: "Copied!";
  visibility: visible;
}
